@import './utils/vars';
@import './utils/common';
@import './components/logo';
@import './components/modal';
@import './components/header';
@import './components/headersection';
@import './components/benefits';
@import './components/description';
@import './components/team';
@import './components/clients';
@import './components/footer';

/*portfolio*/
@import './components/btnlist';
@import './components/examples';
