.examples {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;

  &-link {
    display: block;
    transition: box-shadow $animation;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .examples-overlay,
    &:focus .examples-overlay {
      transform: translateY(0);
    }
  }

  &-item {
    margin-right: 30px;
    margin-bottom: 30px;
  }

  &-header {
    color: $mainColor;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }

  &-text {
    color: $secondaryColor;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
  }

  &-descr {
    padding: 20px 24px;
    border-right: 1px solid $primaryBorderColor;
    border-bottom: 1px solid $primaryBorderColor;
    border-left: 1px solid $primaryBorderColor;
  }

  &-wrapper {
    position: relative;
    overflow: hidden;
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform $animation;
    width: 100%;
    height: 100%;
    padding: 65px 25px 61px 23px;
    background-color: rgba(33, 150, 243, 0.9);
  }
}

.overlay-text {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: $frequentWhite;
}
