.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition-property: opacity, visibility;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: $frequentWhite;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $frequentWhite;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: fill $animation;

    &:hover,
    &:focus {
      fill: $textHover;
    }
  }
}

.registration-text {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
}

.registration-form-field {
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.registration-form-label {
  display: block;
  text-align: start;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: $secondaryColor;
}

.registration-form-input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color $animation;

  &:hover,
  &:focus {
    border-color: $textHover;
    cursor: pointer;

    + .registration-form-icon,
    + .registration-form-icon {
      fill: $textHover;
    }
  }
}

.registration-form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill $animation;
}

.registration-comment {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color $animation;
  resize: none;

  &:hover,
  &:focus {
    border-color: $textHover;
    cursor: pointer;
  }

  &::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.registration-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  &-label {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: $secondaryColor;
    user-select: none;
    margin-left: 8px;

    a {
      color: $textHover;
      text-decoration: underline;
    }
  }
}

.icon-checked {
  opacity: 0;
  transition: opacity $animation;
}

.icon-unchecked {
  opacity: 1;
  transition: opacity $animation;
}

.registration-checkbox:checked + .register-checkbox-icon .icon-checked {
  opacity: 1;
}

.registration-checkbox:checked + .register-checkbox-icon .icon-unchecked {
  opacity: 0;
}

.registration-btn {
  margin-top: 30px;
  width: 200px;
  height: 50px;
}
