$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Raleway', sans-serif;

/*  main repeated colors */
$mainColor: #212121;
$secondaryColor: #757575;
$textHover: #2196f3;
$frequentWhite: #ffffff;
$primaryBorderColor: #eeeeee;
$secondaryBorderColor: #ececec;

/* background colors */
$bgcButtonHover: #2196f3;
$bgcDarkGrey: #2f303a;
$rareBgcColor: #f5f4fa;
$orderBtnHover: #188ce8;
$bgcLightGrey: #afb1b8;

/*animation*/
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
